<div id="message-<%= message.id %>">
  <small>
  <% if message.user.present? %>
    <strong><%= message.user.full_name %></strong>
  <% elsif message.organization.present? %>
    <strong><%= message.organization.name %></strong>
  <% end %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
