<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468 239"
preserveAspectRatio="xMidYMid meet">
 <!--adicionar no url a query string -->
<a xlink:title='Africa' href='/projects' target="_blank">
  <%= display_africa %>
</a>

<a xlink:title='Asia' href='/projects' target="_blank">
  <%= display_asia %>
</a>

<a xlink:title='Oceania' href='/projects' target="_blank">
  <%= display_oceania %>
</a>

<a xlink:title='Europe' href='/projects' target="_blank">
  <%= display_europe %>
</a>

<a xlink:title='South America' href='/projects' target="_blank">
  <%= display_south_america %>
</a>

<a xlink:title='North America' href='/projects' target="_blank">
  <%= display_north_america %>
</a>
</svg>
