<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <%= link_to root_path do %>
      <h2 class="navbar-title font-weight-bold m-0">Karuna</h2>
    <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% elsif organization_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/felipecrubio", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_organization_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Organizations", new_organization_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn-white ms-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<svg class="top-wave w-100" viewBox="0 0 1728 449" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 108.093L41.04 104.351C82.26 100.609 164.34 93.1259 246.6 96.6181C328.86 100.027 410.94 114.495 493.2 117.821C575.46 121.147 657.54 113.331 740.16 110.421C822.6 107.511 905.4 109.506 987.84 105.848C1070.46 102.272 1152.54 93.1259 1234.8 90.0495C1317.06 87.0561 1399.14 90.0495 1481.4 92.1282C1563.66 94.2069 1645.74 95.3709 1686.96 95.8698L1728 96.4519V0H1686.96C1645.74 0 1563.66 0 1481.4 0C1399.14 0 1317.06 0 1234.8 0C1152.54 0 1070.46 0 987.84 0C905.4 0 822.6 0 740.16 0C657.54 0 575.46 0 493.2 0C410.94 0 328.86 0 246.6 0C164.34 0 82.26 0 41.04 0H0V108.093Z" fill="#DDDEF3"/>
  <path d="M0 49.0574L41.04 50.1383C82.26 51.3024 164.34 53.4643 246.6 58.8689C328.86 64.2735 410.94 72.9209 493.2 73.8356C575.46 74.8333 657.54 68.1815 740.16 68.3478C822.6 68.4309 905.4 75.4154 987.84 83.3976C1070.46 91.463 1152.54 100.609 1234.8 102.937C1317.06 105.349 1399.14 100.859 1481.4 96.6181C1563.66 92.2944 1645.74 88.137 1686.96 86.0583L1728 83.9796V0H1686.96C1645.74 0 1563.66 0 1481.4 0C1399.14 0 1317.06 0 1234.8 0C1152.54 0 1070.46 0 987.84 0C905.4 0 822.6 0 740.16 0C657.54 0 575.46 0 493.2 0C410.94 0 328.86 0 246.6 0C164.34 0 82.26 0 41.04 0H0V49.0574Z" fill="#B2ACE7"/>
  <path d="M0 49.8889L41.04 49.4731C82.26 49.0574 164.34 48.2259 246.6 46.9787C328.86 45.7315 410.94 44.0685 493.2 45.9809C575.46 47.9765 657.54 53.4643 740.16 52.5496C822.6 51.5519 905.4 44.0685 987.84 40.4931C1070.46 36.8346 1152.54 37.1672 1234.8 42.655C1317.06 48.2259 1399.14 59.0352 1481.4 61.3633C1563.66 63.7746 1645.74 57.6217 1686.96 54.6283L1728 51.5519V0H1686.96C1645.74 0 1563.66 0 1481.4 0C1399.14 0 1317.06 0 1234.8 0C1152.54 0 1070.46 0 987.84 0C905.4 0 822.6 0 740.16 0C657.54 0 575.46 0 493.2 0C410.94 0 328.86 0 246.6 0C164.34 0 82.26 0 41.04 0H0V49.8889Z" fill="#9179D5"/>
  <path d="M0 16.6296L41.04 17.7106C82.26 18.8746 164.34 21.0365 246.6 26.1917C328.86 31.3469 410.94 39.3291 493.2 41.5741C575.46 43.8191 657.54 40.1606 740.16 35.338C822.6 30.5154 905.4 24.3624 987.84 21.4522C1070.46 18.542 1152.54 18.8746 1234.8 25.1107C1317.06 31.3469 1399.14 43.4865 1481.4 42.655C1563.66 41.8235 1645.74 28.0209 1686.96 21.0365L1728 14.1352V0H1686.96C1645.74 0 1563.66 0 1481.4 0C1399.14 0 1317.06 0 1234.8 0C1152.54 0 1070.46 0 987.84 0C905.4 0 822.6 0 740.16 0C657.54 0 575.46 0 493.2 0C410.94 0 328.86 0 246.6 0C164.34 0 82.26 0 41.04 0H0V16.6296Z" fill="#7842BD"/>
</svg>
