<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
    <%= link_to root_path do %>
      <h2 class="navbar-title font-weight-bold m-0">Karuna</h2>
    <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About us", '#about', class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key %>

              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
             <%= image_tag ("https://icon-library.com/images/default-user-icon/default-user-icon-28.jpg"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>

          </li>
        <% elsif organization_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About us", '#about', class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New project", new_project_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://images.unsplash.com/photo-1617450365226-9bf28c04e130?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_organization_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About us", '#about', class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Donate", '/', class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Become a partner", new_organization_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-button ms-3">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= image_tag 'main-wave.png', id:'navbar-wave' %>
