<div class="d-flex justify-content-center align-items-end pb-0">
  <% if @user %>
    <%= button_tag class: "tab-link mt-4 me-5 pb-0 mb-0 active" do %>
      <p class="pb-3 mb-0">Projects</p>
    <% end %>
    <%= button_tag class: "tab-link mt-4 me-5 pb-0 mb-0" do %>
      <p class="pb-3 mb-0">Channels</p>
    <% end %>
    <%= button_tag class: "tab-link mt-4 me-5 pb-0 mb-0" do %>
      <p class="pb-3 mb-0">Skills</p>
    <% end %>
    <%= button_tag class: "tab-link mt-4 me-5 pb-0 mb-0" do %>
      <p class="pb-3 mb-0">Badges</p>
    <% end %>
  <% end %>

  <% if @organization %>
    <%= link_to organization_projects_path, class: "tab-link mt-4 me-5 pb-0 mb-0 active", data: { action: "click->organization-tabs#renderProjects", organization_tabs_target: "projects" } do %>
      <p class="pb-3 mb-0">Projects</p>
    <% end %>
    <%= button_tag class: "tab-link mt-4 me-5 pb-0 mb-0", data: { action: "click->organization-tabs#renderChannels", organization_tabs_target: "channels" } do %>
      <p class="pb-3 mb-0">Channels</p>
    <% end %>
    <%= link_to organization_requests_path, class: "tab-link mt-4 me-5 pb-0 mb-0", data: { action: "click->organization-tabs#renderRequests", organization_tabs_target: "requests" } do %>
      <p class="pb-3 mb-0">Requests</p>
    <% end %>
  <% end %>
</div>
