<div class="banner d-flex justify-content-start typewriter">
  <div class="hero-text my-auto p-5">
    <h1 class="hero-title text-success fs-lg fw-bold mb-0">Compassion is Action</h1>
    <p class="text-success fs-2 mt-0">Volunteer for projects that matter and help to make the change happen.</p>
  </div>

  <%= image_tag 'purple-wave.png', class:'separator-wave' %>
</div>

<%= image_tag 'main-wave.png', class:'normal-wave' %>

<section id="about" class='main-text home-section d-flex align-items-center flex-column'>
  <div class="container text-center py-5" id="how-it-works">
    <h2 class='mt-5'>How does it work?</h2>
    <div class="row my-3 d-flex justify-content-space-between" data-controller="modal">

      <div class="col-sm-12 col-md-12 col-lg-3 my-5 card-circle">
        <%= button_tag data: { action: "click->modal#openFirstModal" } do  %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3787/3787620.png  " %>
        <% end %>
        <p>Find a Project you like</p>
      </div>
      <div class="modal" data-modal-target="firstModal" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="modal-content">
          <div class="modal-header">
            <button data-action="click->modal#closeFirstModal">&times;</button>
            <h3>How can I search a Project?</h3>
          </div>
          <div class="modal-body">
            <p>You can search by location</p>
            <%= image_tag 'mapa_explicativo.png', class:'modal-image' %>
            <p>By Project Type</p>
            <%= image_tag 'project types.png', class:'modal-image' %>
            <p>Or you can make a more specific search</p>
            <%= link_to "Find Projects!", projects_path, class: "btn btn-purple", id:"find-projects-button" %>
            <p>You can find all of this options here at this page!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 my-5 card-circle">
        <%= button_tag data: { action: "click->modal#openSecondModal" } do  %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3787/3787089.png" %>
        <% end %>
        <p>Apply for Volunteer</p>
      </div>
      <div class="modal" data-modal-target="secondModal">
        <div class="modal-content">
          <div class="modal-header">
            <button data-action="click->modal#closeSecondModal">&times;</button>
            <h3>How to apply for a Project</h3>
          </div>
          <div class="modal-body">
            <p>After you find a Project that interests you, you can apply to volunteer at the Project's Page. Just pick an available date and send a request.</p>
            <%= image_tag 'show_project.png', class:'modal-image' %>
            <p>After that, you can check your request's status at your own Profile Page.</p>
            <%= image_tag 'project_status.png', class:'modal-image' %>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 my-5 card-circle">
        <%= button_tag data: { action: "click->modal#openThirdModal" } do  %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3157/3157886.png" %>
        <% end %>
        <p>Stay in touch</p>
      </div>
      <div class="modal" data-modal-target="thirdModal">
        <div class="modal-content">
          <div class="modal-header">
            <button data-action="click->modal#closeThirdModal">&times;</button>
            <h3>Communication is Everything!</h3>
          </div>
          <div class="modal-body">
            <p>After you get accepted by the Project's host, you get access to the Event's Chat, where you can share messages with your teammates and solve all your doubts!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 my-5 card-circle">
        <%= button_tag data: { action: "click->modal#openFourthModal" } do  %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3093/3093305.png" %>
        <% end %>
        <p>Make your impact!</p>
      </div>
      <div class="modal" data-modal-target="fourthModal">
        <div class="modal-content">
          <div class="modal-header">
            <button data-action="click->modal#closeFourthModal">&times;</button>
            <h3>Compassion is Action!</h3>
          </div>
          <div class="modal-body">
            <p>Be ready to make the most of this opportunity. And remember: "Be kind whenever possible. It is always possible."  </p>
          </div>
        </div>
      </div>

    </div>
    <%= link_to "Find Projects!", projects_path, class: "btn btn-purple", id:"find-projects-button" %>
  </div>
</section>

<%= image_tag 'main-wave.png', class:'upsidown-wave' %>

<section class="background-purple home-section d-flex align-items-center justify-content-center flex-column">
<div class="text-center my-5">
  <h2>Worldwide Community</h2>
</div>
  <div class="map-div background-purple">
    <%= render 'shared/map' %>
  </div>
  <div class="text-center mb-4 map-text">
    <p>We have Karuner's all over the world!<br>Be part of this amazing community and let's spread kidness together.</p>
  </div>
</section>

<%= image_tag 'main-wave.png', class:'normal-wave' %>

<section class="container home-section">
  <div class="container main-text text-center py-5 mt-5">
    <h2 class="text">Project Types</h2>
    <div class="container d-flex justify-content-center">
      <div class="row my-5 max-width project-types">

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'construction') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1597476885328-ce9c89859503?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80)"
            >Construction
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'agriculture') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1461354464878-ad92f492a5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)"
            >Agriculture
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'water') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1546531130-0f36255d9d49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)"
            >Water<br>Access
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'sanitation') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1502592238809-4cba3c1b80bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)"
            >Sanitation
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'education') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1610500796385-3ffc1ae2f046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)"
            >Education
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'relief effort') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1643321610692-719deb378a33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)"
            >Relief<br>Effort
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'animal rescue') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1530201029781-9ea4233e7ae4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80)"
            >Animal<br>Rescue
            </div>
          <% end %>
        </div>

        <div class="col-sm-6 col-lg-3">
          <%= link_to projects_path(category: 'environmental') do %>
            <div class="project-type-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
            rgba(0,0,0,0.3)),
            url(https://images.unsplash.com/photo-1617953141905-b27fb1f17d88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)"
            >Environmental
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>

<%= image_tag 'main-wave.png', class:'upsidown-wave' %>

<section class="background-impact home-section d-flex align-items-center justify-content-center flex-column" id="last-container">
  <h2 class="text-center mb-5">Impact made</h2>
  <div class="container impact-card">
    <img id="impact-photo" src="https://images.unsplash.com/photo-1543180930-261980d4868a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=456&q=80" />
    <div class="impact-card-infos d-flex flex-column justify-content-between" id="impact-card-text">
      <div class="impact-info d-flex flex-column mb-1 ms-2 me-1">
        <h3>Numbers</h3>
        <div class="d-flex justify-content-around text-center">
          <div class="d-flex flex-column justify-content-center">
            <h4 class="nopadding">3.000</h4>
            <p class="nopadding">Families impacted</p>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h4 class="nopadding">50%</h4>
            <p class="nopadding">Development improved</p>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h4 class="nopadding">257</h4>
            <p class="nopadding">Partner organizations</p>
          </div>
        </div>
      </div>
      <div class="impact-info d-flex justify-content-around mt-1 ms-2 me-1">
        <div class="d-flex flex-column">
          <h3 class="mb-4">Volunteers</h3>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column align-items-center volunteer-content">
              <%= link_to '#' do %>
                <%= image_tag 'https://images.unsplash.com/photo-1622698222667-8dcb54a2b22e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80', id:"volunteer-picture" %>
              <% end %>
              <p><strong class="volunteer-name"><%= link_to "Akhil", "#" %></strong><br>30y Mumbai<br>Engineer</p>
            </div>
            <div class="d-flex flex-column align-items-center volunteer-content">
              <%= link_to '#' do %>
                <%= image_tag 'https://images.unsplash.com/photo-1579105728744-9d6b14a45389?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=383&q=80', id:"volunteer-picture-2" %>
              <% end %>
              <p><strong class="volunteer-name"><%= link_to "Lydia", "#" %></strong><br>22y Germany<br>Designer</p>
            </div>
          </div>
        </div>
        <div class="volunteers">
          <div class="container volunteer-grid d-flex justify-content-center align-items-between pt-4">
            <div class="row">
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1629467057571-42d22d8f0cbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=398&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1602471615287-d733c59b79c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1633068587634-4280dabf12ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=407&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1632922267756-9b71242b1592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1533689476487-034f57831a58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1627748868900-f2decee603e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
              <div class="col-4">
                <%= link_to '#' do %>
                  <%= image_tag 'https://images.unsplash.com/photo-1571901205848-96622809cf6e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class:"volunteer-pics" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "footer-wave.png", id:"footer-wave" %>
</section>
