<div class="container">
  <h1 class= "project-header mt-5"><strong> <%= @project.name %></strong></h1>
</div>

<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1509973301519-9ca52aa49658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1614531341773-3bff8b7cb3fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1504173010664-32509aeebb62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1427&q=80" class="d-block w-100" alt="...">
      </div>
    </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

  </div>
<<<<<<< HEAD
=======
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
>>>>>>> master
</div>

<div class="container">
  <h2><i class="fa-solid fa-leaf me-3 ms-2 mt-2"></i><strong><%= @project.category %></strong></h2>
  <p><i class="fa-solid fa-location-dot ms-2"></i> <%= @project.address %></p>
  <p><i class="fa-solid fa-calendar-days ms-2"></i>  <%= @project.start_date %> <i class="fa-solid fa-calendar-check ms-3"></i>  <%= @project.end_date %></p>
  <p class="text-justify ms-2"> <%= @project.description %> </p>
</div>

<div class="container">

<div class="d-flex justify-content-center  ">
  <section id="bookings" class="background my-5">
      <div class="project-info container p-5 border border-dark">
        <h3 class="text-center mb-3">Join the team</h3>
        <%= simple_form_for [@project, @booking], data: { controller: "flatpickr" } do |f| %>
          <%= f.input :start_date, label: false, placeholder: 'Start date', input_html: { class: "border-green b-radius", data: { flatpickr_target: "firstRangeInput" } }, as: :string %>
          <%= f.input :end_date, label: false, placeholder: 'End date', input_html: { class: "border-green b-radius", data: { flatpickr_target: "secondRangeInput" } }, as: :string %>
          <div class="d-grid gap-2">
            <% if current_user == nil %>
              <%= link_to "Book now!", new_user_registration_path, class: "btn btn-lg btn-block btn-purple mt-4" %>
            <% else %>
              <%= f.submit "Book now!", class: "btn btn-lg btn-block btn-purple mt-4" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
