<% content_for :meta_title, "#{@project.name} · #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<%# <% content_for :meta_image, cl_image_path(@project.photo.path) %> %>

<div class="container showpage-title mb-3">
  <h1 class= "project-header ms-0"><strong> <%= @project.name %></strong></h1>
</div>

<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <% if @project.photos.empty? %>
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1504173010664-32509aeebb62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1427&q=80" class="d-block w-100" alt="...">
          </div>
        <% else %>
          <% @project.photos.each_with_index do |photo, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100" %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, crop: :fill, class:"d-block w-100" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
 </div>

<div class="container project-infos">
  <div class="row">
    <div class="col col-9">
      <h2><i class="fa-solid fa-leaf me-3 ms-2 mt-4"></i><strong><%= @project.category %></strong></h2>
    </div>
    <div class="col col-3", style="align-self: center; font-weight: bold; bs-link-hover-color: purple;" >
      <%= link_to "Hosted by", organization_path(@project.organization_id) %>
    </div>
  </div>
  <p style="color:grey;"><i class="fa-solid fa-location-dot ms-2 mt-3"></i> <%= @project.address %></p>
  <p style="color:grey;"><i class="fa-solid fa-calendar-days ms-2"></i>  <%= @project.start_date %> <i class="fa-solid fa-calendar-check ms-4"></i>  <%= @project.end_date %></p>
  <p class="text-justify ms-2 p-description mt-4"> <%= @project.description %> </p>
</div>


<div class="container project-volunteers mt-5">
  <h3>Volunteers</strong></h3>
    <div class="volunteer-grid d-flex justify-content-between">
      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1629467057571-42d22d8f0cbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=398&q=80', class:"volunteer-pics" %>
      <% end %>
      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class:"volunteer-pics" %>
      <% end %>


      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80', class:"volunteer-pics" %>
      <% end %>


      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1602471615287-d733c59b79c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80', class:"volunteer-pics" %>
      <% end %>


      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1633068587634-4280dabf12ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=407&q=80', class:"volunteer-pics" %>
      <% end %>


      <%= link_to '#', target: :_blank do %>
        <%= image_tag 'https://images.unsplash.com/photo-1632922267756-9b71242b1592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80', class:"volunteer-pics" %>
      <% end %>

    </div>
  </div>

<% if policy(@chatroom).show? %>
  <div class="container mb-5 d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center text-center justify-content-around chatroom-div">
      <h2>You're already part of this family!<br>Wanna share something? </h2>
      <%= link_to "JOIN THE CHAT", chatroom_path(@chatroom), class:'btn btn-purple w-50' %>
    </div>
  </div>
<% else %>
  <div class="container mb-5">
    <div class="d-flex justify-content-center">
      <section id="bookings" class="background my-5">
        <div class="offer-info container p-5 border form-show-page">
          <h3 class="text-center mb-3">Join the team</h3>
          <%= simple_form_for [@project, @booking], data: { controller: "flatpickr" } do |f| %>
            <%= f.input :start_date, label: false, placeholder: 'Start date', input_html: { class: "border-green b-radius my-5", data: { flatpickr_target: "firstRangeInput" } }, as: :string %>
            <%= f.input :end_date, label: false, placeholder: 'End date', input_html: { class: "border-green b-radius mb-4", data: { flatpickr_target: "secondRangeInput" } }, as: :string %>
            <%= f.submit "Volunteer", class: "btn btn-lg btn-block btn-purple w-100 mt-4" %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>
