<div class="container d-flex justify-content-center my-4">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-5 my-3">
      <h4 class="fw-bold mb-4">About</h4>
      <p class="mb-3"><%= @organization.about %></p>
      <p class="text-muted"><i class="fa-solid fa-location-dot"></i> <%= @organization.address %> - <%= @organization.country %></p>
    </div>

    <div class="col-12 col-lg-5 my-3">
      <h4 class="fw-bold mb-4">Projects</h4>
      <div class="d-flex gap-4">
        <div class="card-round rounded-circle bg-primary text-success text-center d-flex flex-column justify-content-center pb-1">
          <p class="fs-4 fw-bold lh-1 m-0"><%= @organization.projects.where("end_date > ?", "#{Date.current}").length %></p>
          <p class="m-0">Active</p>
        </div>
        <div class="card-round rounded-circle bg-primary text-success text-center d-flex flex-column justify-content-center pb-1">
          <p class="fs-4 fw-bold lh-1 m-0">0</p>
          <p class="m-0">Ongoing</p>
        </div>
        <div class="card-round rounded-circle bg-primary text-success text-center d-flex flex-column justify-content-center pb-1">
          <p class="fs-4 fw-bold lh-1 m-0"><%= @organization.projects.where("end_date < ?", "#{Date.current}").length %></p>
          <p class="m-0">Concluded</p>
        </div>
      </div>
    </div>

  </div>
</div>
